<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="17.0.0" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="kayChart.dll" version="0.4.7" targetFramework="net45" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net45" />
  <package id="Retyped.Core" version="1.5.6685" targetFramework="net45" />
  <package id="Retyped.csstype" version="2.3.6685" targetFramework="net45" />
  <package id="Retyped.dom" version="2.8.6685" targetFramework="net45" />
  <package id="Retyped.es5" version="2.8.6685" targetFramework="net45" />
  <package id="Retyped.react" version="16.3.6685" targetFramework="net45" />
  <package id="Retyped.react-easy-chart" version="0.1.6685" targetFramework="net45" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net45" />
</packages>